<div class="border p-3">
<div class="form-group row">
    <h2 class="text-black-50 pl-3">options</h2>
    <div class="col-6">
        <div class="form-group row">                
            <div class="form-group row">
                <div class="col-16 offset-2 row">
                    <div class="col">
                            <a asp-action="Create" class="btn btn-info w-75">Register</a>
                    </div>
                    <div class="col">
                        <a asp-action="Login" class="btn btn-danger w-75">Login</a>
                    </div>
                        <div class="col">
                            <a asp-action="Logout" class="btn btn-warning w-75">Logout</a>
                        </div>
                    <div class="col">
                        <a asp-action="WhoAmI" class="btn btn-light w-150">Who Am I?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
