@model Identity.MVC.Models.User
@{
    var id = Model.Id;
    var username = Model.Username;
    var password = Model.Password;
}
<h2>Id :  @id </h2>
<h1>Username :  @username</h1>
<h1>Password :  @password </h1>
